  apiVersion: apps/v1
  kind: Deployment
  metadata:
    labels:
      app: test
    name: test
  spec:
    replicas: 2
    selector:
      matchLabels:
        app: test
    template:
      metadata:
        labels:
          app: test
      spec:
        containers:
          - image: httpd:alpine3.18
            name: httpd
    strategy:
      type: Recreate